.step2-sign-in-wrapper {
  height: 100%;
  .verifier-content {
    max-height: 314px;
    overflow: auto;
    padding-right: 15px;
    margin-right: -15px;
    padding-bottom: 24px;
  }
  .guardian-list-wrapper {
    padding: 0 32px;
  }
}

@media screen and (max-width: 768px) {
  .step2-sign-in-wrapper .guardian-list-wrapper {
    padding: 0 20px;
  }
}
