.portkey-ui-set-secondary-mail-wrapper {
  .secondary-mail-nav {
    position: relative;
    align-items: center;
    display: flex;
    .left-icon {
      position: absolute;
      left: 16px;
    }

    .secondary-mail-header {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      height: 44px;
      font-size: 16px;
      font-weight: 600;
      line-height: 22.4px;
      color: var(--sds-color-text-default-default);
    }
  }

  .secondary-mail-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 85dvh;
    padding: 24px 16px;
    position: relative;

    .secondary-mail-title {
      display: flex;
      flex-direction: column;
      font-weight: 400;
      line-height: 22.4px;
      font-size: 16px;
      color: var(--sds-color-text-default-default);
      margin-bottom: 24px;
      position: relative;
      width: 100%;

      .title {
        margin-bottom: 8px;
      }

      .input-container {
        border-radius: 8px;
        padding: 12px 16px;
        border: 1px solid var(--sds-color-border-default-default);
        display: flex;
        align-items: center;
        gap: 8px;

        &.error {
          border-color: var(--sds-color-text-danger-secondary);
        }

        .input {
          background-color: transparent;
          font-weight: 400;
          line-height: 16px;
          font-size: 16px;
          border: 0;
          width: 100%;

          &:focus-visible {
            outline: none;
          }
        }

        .close-icon {
          width: 12px;
          height: 12px;
          display: flex;
          justify-content: center;
        }
      }

      .error {
        color: var(--sds-color-text-danger-secondary);
      }

      .secondary-mail-display {
        display: flex;
        background-color: var(--sds-color-background-default-secondary);
        padding: 12px 16px;
        gap: 8px;
        align-items: center;
        border-radius: 8px;

        .mail-icon-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          background: var(--sds-color-icon-brand-secondary);
          border-radius: 9999px;
        }
      }
    }

    .secondary-mail-tip {
      display: flex;
      padding: 16px;
      border-radius: 16px;
      border: 1px solid var(--sds-color-border-default-default);
      gap: 12px;
      color: var(--sds-color-text-default-default);
      font-weight: 400;
      line-height: 19.6px;
      font-size: 14px;

      .info-icon {
        height: 22px;
        width: 67px;
      }
    }

    .secondary-mail-footer {
      padding: 0 16px;
      bottom: 0;
      position: absolute;
      width: 100%;
      margin-bottom: 16px;

      .item-button {
        width: 100%;
      }
    }
  }

  .back-header-page-wrapper {
    background-color: var(--portkey-ui-default-bg);
    border-bottom: 1px solid var(--portkey-ui-border-2);
  }

  .portkey-ui-transfer-settings-form {
    height: calc(100% - 72px);
    .portkey-ui-form-content {
      flex: 1;
      padding: 24px 0;

      .section-one,
      .section-two {
        .portkey-ant-form-item {
          padding: 0 24px;
          input {
            font-size: 14px;
          }
        }
      }

      .portkey-ui-divide {
        width: 100%;
        height: 1px;
        background-color: var(--portkey-ui-border-2);
        margin-bottom: 24px;
      }

      .portkey-ui-limit-tip {
        font-size: 14px;
        text-align: left;
        color: var(--portkey-ui-font-8);
        padding: 0 24px;
      }

      .portkey-ant-form-item-label > label {
        color: var(--portkey-ui-font-6);
        font-size: 14px;
        line-height: 20px;
      }
      .portkey-ant-input:placeholder-shown {
        color: var(--portkey-ui-font-7);
        line-height: 20px;
      }
      .portkey-ant-input-affix-wrapper {
        height: 48px;
        border-radius: 6px;
        padding-left: 16px;
        padding-right: 16px;
      }
      .portkey-ant-input[disabled] {
        background-color: var(--portkey-ui-bg-6);
        border: 1px solid var(--portkey-ui-border-1);
        color: var(--portkey-ui-font-6);
      }
    }
  }
  .error-text {
    margin-top: 4px;
    line-height: 16px;
    font-size: 12px;
    color: var(--portkey-ui-text-error);
    display: inline-block;
  }
}
