.portkey-ui-to-address-input-wrapper {
  .portkey-ui-to-address-input-row {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px 0;
    border-bottom: 1px solid var(--sds-color-border-default-default);
  }

  .portkey-ui-to-address-input-row-label {
    flex-shrink: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: var(--sds-color-text-default-secondary);
  }

  .portkey-ui-to-address-input-row-editable {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .portkey-ui-to-address-input-row-input-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    height: 32px;
  }

  .portkey-ui-to-address-input-row-input {
    flex: 1;
    padding: 0;
    border: none;
    border-radius: 0;
    background: transparent;
    resize: none;
    font-size: 14px;
    line-height: 22px;
    &::placeholder {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .portkey-ui-to-address-input-row-icons-wrapper {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .portkey-ui-to-address-input-row-icon {
    width: 24px;
    height: 24px;
  }

  .portkey-ui-to-address-input-tip {
    padding: 8px 0;
    font-size: 14px;
  }

  .portkey-ui-to-address-input-tip-text {
    color: var(--sds-color-text-default-secondary);
  }

  .portkey-ui-to-address-input-tip-paste {
    color: var(--sds-color-text-brand-secondary);
    cursor: pointer;
  }

  .portkey-ui-to-address-input-row-readonly {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .portkey-ui-to-address-input-row-readonly-address-text {
    font-size: 16px;
    font-weight: 600;
    color: var(--sds-color-text-default-default);
  }
}
