/** select */
.portkey-ui-common-select {
  width: 100%;
  &:not(.portkey-ant-select-customize-input) .portkey-ant-select-selector {
    border-radius: var(--portkey-ui-border-radius-1);
    align-items: center;
  }
  &.portkey-ant-select-single:not(.portkey-ant-select-customize-input) .portkey-ant-select-selector {
    height: 48px;
    padding: 0 16px;
  }
  &.portkey-ant-select-single .portkey-ant-select-selector .portkey-ant-select-selection-item {
    line-height: 48px;
    display: flex;
  }

  &:not(.portkey-ant-select-customize-input) .portkey-ant-select-selector .portkey-ant-select-selection-search-input {
    height: 48px;
  }
  .portkey-ant-select-selector::after {
    width: 16px;
    height: 16px;
    visibility: visible;
    display: inline-block;
    background: url('../../assets/svgIcon/Down.svg') center no-repeat;
    background-size: 16px;
  }
  &.portkey-ant-select-open {
    .portkey-ant-select-selector::after {
      transform: rotate(180deg);
    }
  }

  .portkey-ant-select-dropdown {
    box-shadow: 0 2px 6px 0 rgb(77 78 89 / 13%);
    border-radius: var(--portkey-ui-border-radius-1);
    .portkey-ant-select-item {
      padding: 0 16px 0 48px;
      line-height: 48px;
      font-size: 14px;
      &:not(&:last-child) {
        border-bottom: 1px solid var(--portkey-ui-border-2);
      }
    }
  }
  .portkey-ant-select-item-option-selected:not(.portkey-ant-select-item-option-disabled) {
    font-weight: 400;
    background-color: transparent;
    position: relative;
    .title {
      color: var(--portkey-ui-font-4);
    }
    &::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background: url('../../assets/svgIcon/selected.svg') center;
      background-size: cover;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .portkey-ant-select-item-option-active:not(.portkey-ant-select-item-option-disabled) {
    background-color: transparent;
  }
  .label-item {
    .label-icon {
      width: 32px;
      height: 32px;
      border-radius: var(--portkey-ui-rounded-full);
      overflow: hidden;
      & > .portkey-ui-custom-svg,
      & > img {
        height: 100%;
        width: 100%;
      }
      & > img {
        vertical-align: initial;
      }
    }
    .title {
      color: var(--portkey-ui-font-6);
      font-size: 16px;
      margin-left: 12px;
    }
  }
}
