.dark {
  --portkey-ui-text-primary: #e5e8ef;
  --portkey-ui-text-secondary: #9ba0b0;
  --portkey-ui-scan-bg: #2a2e3a;
  --portkey-ui-segmented-bg: #131620;
  --portkey-ui-segmented-selected-bg: #343948;
  --portkey-ui-border-1: #393d47;
  --portkey-ui-default-border: #393d47;
  --portkey-ui-primary-border: transparent;
  --portkey-ui-input-border: transparent;
  --portkey-ui-text-tip: #5c6170;
  --portkey-ui-input-text: #d2d3d5;
  --portkey-ui-input-placeholder: #5c6170;
  --portkey-ui-text-disabled: #5c6170;
  --portkey-ui-font-7: #5c6170;
  --portkey-ui-btn-bg: #343948;
  --portkey-ui-input-bg: #131620;
  --portkey-ui-select-bg: #343948;
  --portkey-ui-select-dropdown-bg: #1e212b;
  --portkey-ui-default-bg: #1e212b;
  --portkey-ui-box-shadow-2: 0px 0px 24px 0px rgba(0, 0, 0, 0.5);

  --portkey-ui-form-label: #9ba0b0;
  --portkey-ui-text-error: #ff496a;
  --portkey-ui-title-text-1: 24px;


  --sds-color-background-default-default: #151318;
--sds-color-background-default-default-hover: #1F1F21;
--sds-color-background-default-secondary: #1F1F21;
--sds-color-background-default-secondary-hover: #414142;
--sds-color-background-default-tertiary: #414142;
--sds-color-background-default-tertiary-hover: #626264;
--sds-color-background-disable-default: #1F1F21;
--sds-color-background-brand-default: #B8E1FF;
--sds-color-background-brand-hover: #DFF0FF;
--sds-color-background-brand-secondary: #0996EE;
--sds-color-background-brand-secondary-hover: #33B0FD;
--sds-color-background-brand-tertiary: #0076CC;
--sds-color-background-brand-tertiary-hover: #0996EE;
--sds-color-background-neutral-default: #B2B2B2;
--sds-color-background-neutral-hover: #949494;
--sds-color-background-neutral-secondary: #303030;
--sds-color-background-neutral-secondary-hover: #242424;
--sds-color-background-neutral-tertiary: #303030;
--sds-color-background-neutral-tertiary-hover: #242424;
--sds-color-background-positive-default: #23850E;
--sds-color-background-positive-hover: #1B5C0E;
--sds-color-background-positive-secondary: #13340D;
--sds-color-background-positive-secondary-hover: #1B5C0E;
--sds-color-background-positive-tertiary: #0F1F0D;
--sds-color-background-positive-tertiary-hover: #13340D;
--sds-color-background-warning-default: #CDA90E;
--sds-color-background-warning-hover: #FDD10E;
--sds-color-background-warning-secondary: #6C5A0D;
--sds-color-background-warning-secondary-hover: #6C5A0D;
--sds-color-background-warning-tertiary: #231F0D;
--sds-color-background-warning-tertiary-hover: #3B330D;
--sds-color-background-danger-default: #B73907;
--sds-color-background-danger-hover: #8C2E08;
--sds-color-background-danger-secondary: #36170B;
--sds-color-background-danger-secondary-hover: #61220A;
--sds-color-background-danger-tertiary: #20110C;
--sds-color-background-danger-tertiary-hover: #36170B;
--sds-color-icon-default-default: #FFFFFF;
--sds-color-icon-default-secondary: #FFFFFFB2;
--sds-color-icon-default-tertiary: #FFFFFF66;
--sds-color-icon-disable-default: #626264;
--sds-color-icon-brand-default: #68C3FF;
--sds-color-icon-brand-secondary: #B8E1FF;
--sds-color-icon-brand-tertiary: #33B0FD;
--sds-color-icon-brand-on-brand: #0A4370;
--sds-color-icon-brand-on-brand-secondary: #DFF0FF;
--sds-color-icon-brand-on-brand-tertiary: #DFF0FF;
--sds-color-icon-neutral-default: #E3E3E3;
--sds-color-icon-neutral-secondary: #CDCDCD;
--sds-color-icon-neutral-tertiary: #B2B2B2;
--sds-color-icon-neutral-on-neutral: #242424;
--sds-color-icon-neutral-on-neutral-secondary: #F3F3F3;
--sds-color-icon-neutral-on-neutral-tertiary: #F3F3F3;
--sds-color-icon-positive-default: #99EB87;
--sds-color-icon-positive-secondary: #70E257;
--sds-color-icon-positive-tertiary: #33D60F;
--sds-color-icon-positive-on-positive: #EBFBE7;
--sds-color-icon-positive-on-positive-secondary: #99EB87;
--sds-color-icon-positive-on-positive-tertiary: #33D60F;
--sds-color-icon-warning-default: #FFFBC2;
--sds-color-icon-warning-secondary: #FFF388;
--sds-color-icon-warning-tertiary: #FEDF56;
--sds-color-icon-warning-on-warning: #3B330D;
--sds-color-icon-warning-on-warning-secondary: #FEDF56;
--sds-color-icon-warning-on-warning-tertiary: #FDD10E;
--sds-color-icon-danger-default: #F1A282;
--sds-color-icon-danger-secondary: #EB7D50;
--sds-color-icon-danger-tertiary: #E24505;
--sds-color-icon-danger-on-danger: #FCECE6;
--sds-color-icon-danger-on-danger-secondary: #EB7D50;
--sds-color-icon-danger-on-danger-tertiary: #E24505;
--sds-color-text-default-default: #FFFFFF;
--sds-color-text-default-secondary: #FFFFFFB2;
--sds-color-text-default-tertiary: #FFFFFF66;
--sds-color-text-disable-default: #626264;
--sds-color-text-disabled-on-disabled: #848485;
--sds-color-text-brand-default: #68C3FF;
--sds-color-text-brand-secondary: #B8E1FF;
--sds-color-text-brand-tertiary: #33B0FD;
--sds-color-text-brand-on-brand: #0A4370;
--sds-color-text-brand-on-brand-secondary: #DFF0FF;
--sds-color-text-brand-on-brand-tertiary: #DFF0FF;
--sds-color-text-neutral-default: #E3E3E3;
--sds-color-text-neutral-secondary: #CDCDCD;
--sds-color-text-neutral-tertiary: #B2B2B2;
--sds-color-text-neutral-on-neutral: #242424;
--sds-color-text-neutral-on-neutral-secondary: #F3F3F3;
--sds-color-text-neutral-on-neutral-tertiary: #F3F3F3;
--sds-color-text-danger-default: #E24505;
--sds-color-text-danger-secondary: #EB7D50;
--sds-color-text-danger-tertiary: #B73907;
--sds-color-text-danger-on-danger: #FCECE6;
--sds-color-text-danger-on-danger-secondary: #F6C7B4;
--sds-color-text-danger-on-danger-tertiary: #F1A282;
--sds-color-text-warning-default: #FEDF56;
--sds-color-text-warning-secondary: #FFF388;
--sds-color-text-warning-tertiary: #FDD10E;
--sds-color-text-warning-on-warning: #3B330D;
--sds-color-text-warning-on-warning-secondary: #FEDF56;
--sds-color-text-warning-on-warning-tertiary: #FDD10E;
--sds-color-text-positive-default: #33D60F;
--sds-color-text-positive-secondary: #70E257;
--sds-color-text-positive-tertiary: #2BAD0F;
--sds-color-text-positive-on-positive: #EBFBE7;
--sds-color-text-positive-on-positive-secondary: #C2F3B7;
--sds-color-text-positive-on-positive-tertiary: #99EB87;
--sds-color-border-default-default: #414142;
--sds-color-border-default-secondary: #626264;
--sds-color-border-default-tertiary: #848485;
--sds-color-border-disable-default: #414142;
--sds-color-border-brand-default: #DFF0FF;
--sds-color-border-brand-secondary: #68C3FF;
--sds-color-border-brand-tertiary: #33B0FD;
--sds-color-border-neutral-default: #E3E3E3;
--sds-color-border-neutral-secondary: #5A5A5A;
--sds-color-border-neutral-tertiary: #434343;
--sds-color-border-positive-default: #2BAD0F;
--sds-color-border-positive-secondary: #23850E;
--sds-color-border-positive-tertiary: #1B5C0E;
--sds-color-border-warning-default: #FEDF56;
--sds-color-border-warning-secondary: #9C820E;
--sds-color-border-warning-tertiary: #6C5A0D;
--sds-color-border-danger-default: #EB7D50;
--sds-color-border-danger-secondary: #8C2E08;
--sds-color-border-danger-tertiary: #61220A;
}
