.set-allowance-wrapper {
  height: 100%;
  .set-allowance-header {
    padding: 24px;
  }
  .set-allowance-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: var(--portkey-ui-text-primary);
    margin-bottom: 16px;
  }
  .set-allowance-description {
    color: var(--portkey-ui-font-16);
    font-size: 12px;
    line-height: 16px;
  }
  .set-allowance-body {
    padding: 24px;
    .set-allowance-body-title {
      font-size: 16px;
      color: var(--sds-color-text-default-default);
    }
  }
  .set-allowance-warning {
    border-radius: 8px;
    border: 1px solid var(--sds-color-border-default-default);
    color: var(--sds-color-text-default-secondary);
    background: transparent;
    padding: 16px;
    border-radius: 16px;
    line-height: 20px;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    .warning-icon {
      width: 50px;
      height: 22px;
      margin-right: 16px;
      color: #000;
    }
  }
  .set-allowance-warning-hint {
    border-radius: 16px;
    color: var(--sds-color-text-warning-on-warning-tertiary);
    background: transparent;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    background-color: var(--sds-color-background-warning-tertiary);
    border-color: var(--sds-color-border-warning-tertiary);
    
  }
  .set-allowance-body-title {
    color: var(--portkey-ui-input-text);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
  }

  .set-allowance-use-recommended-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    color: var(--sds-color-text-brand-default);
    font-size: 16px;
  }

  .set-allowance-use-recommended {
    color: var(--sds-color-text-brand-default);
    cursor: pointer;
  }
  .portkey-ant-input-suffix {
    cursor: pointer;
  }
  .set-allowance-input-wrapper {
    border-radius: 8px;
  }

  .set-allowance-input-wrapper .portkey-ant-input {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: var(--portkey-ui-input-text);
    border-color: none;
  }
  .portkey-ant-input-suffix {
    color: var(--portkey-ui-font-4);
  }

  .portkey-ant-input-affix-wrapper {
    border-radius: var(--portkey-ui-border-radius-1);
    padding: 12px 16px;
  }
  .portkey-ant-input-affix-wrapper-focused {
    border-color: var(--portkey-ui-border-7) !important;
    &:not(.portkey-ant-input-affix-wrapper-disabled) {
      border-color: var(--portkey-ui-border-7) !important;
      &:hover {
        border-color: var(--portkey-ui-border-7) !important;
      }
    }
  }
  .error-text {
    color: var(--portkey-ui-text-error);
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
  }
  .set-allowance-notice {
    margin-top: 16px;
    color: var(--portkey-ui-font-16);
    font-size: 12px;
    line-height: 16px;
  }
}

.set-allowance-dapp-info {
  width: 100%;
  padding: 40px 16px 0;
  justify-content: left;
}

.set-allowance-approveSymbol {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--portkey-ui-input-text);
  cursor: auto;
}

.set-allowance-dapp-info-inner {
  display: flex;
  align-items: center;
  justify-content: left;
  .set-allowance-dapp-title {
    color: var(--sds-color-text-default-default);
    font-size: 20px;
  }
  .set-allowance-dapp-icon {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-right: 8px;
  }

  .set-allowance-dapp-href {
    flex: 1;
    color: var(--portkey-ui-text-secondary);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
.portkey-ant-btn-default {
  border-color: var(--sds-color-border-neutral-secondary)!important;
}

@media screen and (max-width: 768px) {
  .set-allowance-wrapper {
    .set-allowance-header,
    .set-allowance-body {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.set-allowance-confirm-line {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.portkey-ant-checkbox-inner {
  border-radius: 18px;
}

.set-allowance-confirm-line-checkbox {
  width: 18px;
  height: 18px;
  border-radius: 18px;
}

.set-allowance-confirm-line-text {
  margin-left: 8px;
  color: #25272a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
