@import '../../assets/theme/constants.less';
.portkey-ui-guardian-page {
  height: 100vh;
  .back-header-page-wrapper {
    background-color: var(--portkey-ui-default-bg);
    border-bottom: 1px solid var(--portkey-ui-border-2);
    .title-left-col {
      cursor: auto;
      .leftarrow-icon {
        cursor: pointer;
      }
    }
    .portkey-ui-guardian-left {
      gap: 12px;
      line-height: 28px;
      font-size: 24px;
      color: var(--portkey-ui-text-primary);
      text-align: left;
    }
    .title-add-guardian-btn {
      padding: 12px 8px;
      border-radius: var(--portkey-ui-primary-border-radius);
      border: 1px solid var(--portkey-ui-border-7);
    }

    @media screen and (max-width: 768px) {
      .portkey-ui-guardian-left {
        font-size: 20px;
      }
    }
  }
}
