.portkey-ui-check-wallet-security-content {
  height: 100%;
  .portkey-ui-guardian-page {
    height: 100%;
    overflow: auto;
    .portkey-ant-btn.title-add-guardian-btn {
      line-height: 22px;
    }
  }
}
