.icon-pair {
  position: relative;
  .base-guardian-type-icon {
    margin-left: -8px;
    z-index: 1;
  }
  .zklogin-icon {
    z-index: 999;
    position: absolute;
    bottom: -5px;
    left: 15px;
    padding: 1px 4px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid var(--sds-color-border-default-default);
    color: var(--sds-color-text-default-default);
    background-color: var(--portkey-ui-bg-22);
  }
}
