.portkey-ui-upgraded-tip {
  background-color: var(--sds-color-background-warning-default);
  color: var(--sds-color-text-warning-default);
  padding: 5px 14px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 8px 0;
}
