.common-info-row {
  display: flex;
  padding: 16px 0;
  gap: 8px;
  align-items: center;

  .common-info-label-column-wrap {
    display: flex;
    flex-shrink: 0;
    gap: 4px;
    align-items: center;

    .common-info-label-wrap {
      font-size: 16px;
      line-height: 22px;
      color: var(--sds-color-text-default-default);
    }
  }

  .common-info-value-column-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .common-info-value-wrap {
      display: flex;
      gap: 4px;
      align-items: center;

      .common-info-value-image {
        width: 18px;
        height: 18px;

        svg {
          cursor: auto;
        }
      }
      .common-info-value {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: var(--sds-color-text-default-default);
      }
    }

    .common-info-value-below {
      font-size: 14px;
      line-height: 20px;
      color: var(--sds-color-text-default-secondary);
    }
  }
}
