@import './constants.less';

.portkey-ui-wrapper,
.portkey-ui-common-modals,
.portkey-ui-base-modal {
  // modal
  .portkey-ant-modal-content {
    .portkey-ant-modal-body {
      height: 100%;
      min-height: auto;
    }
  }
  .portkey-ant-modal-content,
  .portkey-ant-modal-header {
    background-color: var(--portkey-ui-default-bg);
  }
  /* button */
  .portkey-ant-btn-dangerous.portkey-ant-btn-link span {
    text-decoration: underline;
  }

  .portkey-ant-btn {
    background-color: var(--portkey-ui-default-btn-bg);
    width: 100%;
    height: auto;
    padding: 0;
  }

  .portkey-ant-btn-default {
    color: var(--portkey-ui-font-4);
    border-color: var(--portkey-ui-default-btn-border);
    &:disabled,
    &:disabled:hover,
    &:disabled:focus,
    &:disabled:active {
      border-color: var(--portkey-ui-border-5);
      box-shadow: none !important;
    }
  }

  .portkey-ant-btn-primary {
    background-color: var(--portkey-ui-primary-btn-bg);
    border-color: var(--portkey-ui-primary-border);
    &:hover,
    &:focus {
      color: var(--portkey-ui-font-12);
      background-color: var(--portkey-ui-bg-9);
      border-color: var(--portkey-ui-primary-border);
    }

    &:disabled,
    &:disabled:hover,
    &:disabled:focus,
    &:disabled:active {
      color: var(--portkey-ui-font-12);
      background-color: var(--portkey-ui-primary-btn-bg);
      border-color: var(--portkey-ui-primary-border);
      box-shadow: none !important;
      opacity: 0.3;
    }
  }

  /* input */

  .portkey-ant-input {
    font-size: 16px;
    background-color: var(--portkey-ui-input-bg);
    &::placeholder {
      font-size: 14px;
      line-height: 20px;
      color: var(--portkey-ui-input-placeholder);
    }
  }
  .portkey-ant-input-affix-wrapper {
    background-color: var(--portkey-ui-input-bg);
  }
  .portkey-ant-input-affix-wrapper:not(.portkey-ant-input-affix-wrapper-disabled):hover,
  .portkey-ant-input-password:hover,
  .portkey-ant-input:hover,
  .portkey-ant-input:focus {
    border-color: var(--portkey-ui-input-border) !important;
    box-shadow: none;
  }

  .portkey-ant-input-affix-wrapper:focus,
  .portkey-ant-input-affix-wrapper-focused {
    box-shadow: none;
  }

  .portkey-ant-input,
  .portkey-ant-input-password {
    padding: 12px 16px;
    border-radius: var(--portkey-ui-border-radius-1);
    color: var(--portkey-ui-input-text);
    line-height: 22px;
    border-color: var(--portkey-ui-input-border);
    &:hover {
      border-color: var(--portkey-ui-border-7);
    }
  }

  .portkey-ant-input-password-icon {
    width: 16px;
    height: 16px;
  }

  /* form */
  .portkey-ant-form {
    .portkey-ant-form-item-explain {
      line-height: 16px;
      height: 16px;
      margin-top: 4px;
    }
    .portkey-ant-form-item-has-error {
      padding-bottom: 24px;
      .portkey-ant-form-item-control {
        & > div:nth-of-type(2) {
          line-height: 20px;
          height: 20px !important;
          & > div:nth-of-type(2) {
            height: 16px !important;
          }
        }
      }
    }
    .portkey-ant-input-affix-wrapper-status-error {
      border-color: var(--portkey-ui-border-4);
    }

    .portkey-ant-form-item-explain-error {
      color: var(--portkey-ui-text-error);
      font-size: 12px;
    }

    .portkey-ant-form-item {
      margin-bottom: 24px;
    }
    .portkey-ant-form-item-label {
      line-height: 22px;
      font-size: 16px;
      color: var(--portkey-ui-form-label);
    }
    .portkey-ant-form-item-label > label {
      color: var(--portkey-ui-form-label);
      line-height: 22px;
      font-size: 16px;
    }
    .portkey-ant-btn-primary {
      line-height: var(--portkey-ui-default-btn-h);
      font-size: 16px;
    }
  }

  .portkey-ant-input-status-error:not(.portkey-ant-input-disabled):not(.portkey-ant-input-borderless).portkey-ant-input,
  .portkey-ant-input-affix-wrapper-status-error:not(.portkey-ant-input-affix-wrapper-disabled):not(
      .portkey-ant-input-affix-wrapper-borderless
    ).portkey-ant-input-affix-wrapper,
  .portkey-ant-input-affix-wrapper-status-error:not(.portkey-ant-input-affix-wrapper-disabled):not(
      .portkey-ant-input-affix-wrapper-borderless
    ).portkey-ant-input-affix-wrapper:focus {
    border-color: var(--portkey-ui-input-border);
  }
  // to change  border color of the errored input
  .portkey-ant-input-status-error:not(.portkey-ant-input-disabled):not(
      .portkey-ant-input-borderless
    ).portkey-ant-input:hover,
  .portkey-ant-input-affix-wrapper-status-error:not(.portkey-ant-input-affix-wrapper-disabled):not(
      .portkey-ant-input-affix-wrapper-borderless
    ).portkey-ant-input-affix-wrapper,
  .portkey-ant-input-affix-wrapper-status-error:not(.portkey-ant-input-affix-wrapper-disabled):not(
      .portkey-ant-input-affix-wrapper-borderless
    ).portkey-ant-input-affix-wrapper:hover {
    background-color: var(--portkey-ui-input-bg);

    border-color: var(--portkey-ui-primary-border) !important;
  }

  .portkey-ant-input-status-error:not(.portkey-ant-input-disabled):not(
      .portkey-ant-input-borderless
    ).portkey-ant-input:focus,
  .portkey-ant-input-affix-wrapper-status-error:not(.portkey-ant-input-affix-wrapper-disabled):not(
      .portkey-ant-input-affix-wrapper-borderless
    ).portkey-ant-input-affix-wrapper-focused {
    border-color: var(--portkey-ui-primary-border) !important;
    box-shadow: none;
  }

  /* tabs */

  .portkey-ant-tabs {
    color: var(--portkey-ui-text-primary);
  }
  .portkey-ant-tabs-tab.portkey-ant-tabs-tab-active .portkey-ant-tabs-tab-btn {
    color: var(--portkey-ui-font-4);
    .portkey-ant-tabs-ink-bar {
      background: var(--portkey-ui-primary-bg);
    }
  }
  .portkey-ant-tabs-tab:hover {
    color: var(--portkey-ui-text-hover);
  }

  /** select */
  .portkey-ant-select-dropdown {
    background-color: var(--portkey-ui-select-dropdown-bg);
  }
  .portkey-ant-select:not(.portkey-ant-select-customize-input) .portkey-ant-select-selector {
    background-color: var(--portkey-ui-select-bg);
    border-color: var(--portkey-ui-input-border);
  }
  /* mobile */
  // password code
  .adm-passcode-input-cell {
    background-color: transparent;
  }
}

.portkey-ui-btn-wrapper {
  padding: 15px 16px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  line-height: 20px;
  button {
    border-radius: var(--portkey-ui-primary-border-radius);
    line-height: var(--portkey-ui-default-btn-h);
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .portkey-ant-form .portkey-ant-form-item .portkey-ant-form-item-label,
  .portkey-ant-form .portkey-ant-form-item .portkey-ant-form-item-control {
    flex: 1;
  }
}

.portkey-ui-modal-method-wrapper {
  .portkey-ant-modal-content {
    border-radius: var(--portkey-ui-border-radius-2);
    background-color: var(--portkey-ui-default-bg);
  }
  .portkey-ant-modal-confirm-content {
    margin-top: 0;
  }
  .portkey-ant-modal-confirm-btns {
    margin-top: 0;
    padding: 16px;
    border-top: 1px solid var(--portkey-ui-default-border);
    display: flex;
    .portkey-ant-btn {
      flex: 1;
      border-radius: var(--portkey-ui-rounded-full);
    }
    .portkey-ant-btn-default {
      line-height: var(--portkey-ui-default-btn-h);
      border: 1px solid var(--portkey-ui-primary-border);
    }
    .portkey-ant-btn-primary {
      line-height: var(--portkey-ui-default-btn-h);
      margin-left: 16px;
    }
  }
}

.portkey-ant-message {
  z-index: var(--portkey-ui-message-zIndex);
}
