@font-1: #262626;
@font-2: #464b53;
@font-3: #faad14;
@font-4: #5b8ef4;
@font-5: #252525;
@font-6: #25272a;
@font-7: #b6babf;
@font-8: #515a62;
@font-9: #e7383a;
@font-10: #00ab34;
@font-11: #87b3ff;
@font-12: #fff;
@font-13: #5685ff;
@font-14: #e5e8ef;
@font-15: #477bff;
@font-16: #979AA1;
@font-17: #FAAD14;
@font-18: #515A62;

@border-1: #c5cbd5;
@border-2: #dee2e8;
@border-3: #68aafd;
@border-4: #e7383a;
@border-5: #515a62;
@border-6: #e6e7e9;
@border-7: #5b8ef4;
@border-8: #e8eaed;
@border-9: #25272a;
@border-10: #eef0f3;
@border-11: #5B8EF4;
@border-12: #fff;

@border-solid-1: 0px solid #fff;

@bg-1: #fef6e7;
@bg-2: #5b8ef4;
@bg-3: #eef3fd;
@bg-4: #f7f7f9;
@bg-5: #fff;
@bg-6: #f7f8f9;
@bg-7: #c2c2c2;
@bg-8: #c5cbd5;
@bg-9: #68aafd;
@bg-10: #343948;
@bg-11: #f3f3f6;
@bg-12: #131620;
@bg-13: #e5e8ef;
@bg-14: #dee2e8;
@bg-15: #ff4d4f;
@bg-16: #68737e;
@bg-17: #f0f0f0;
@bg-18: #fafafa;
@bg-19: #f2f4f6;
@bg-20: #f5f6f7;
@bg-21: #c0c3c7;
@bg-22: #5d42ff;


@disabled1: @bg-4;

@font-error: @font-9;

@box-shadow-1: rgba(77, 78, 89, 0.12);
@box-shadow-2: 0 2px 6px 0 rgb(77 78 89 / 13%);
@box-shadow-3: rgba(77, 78, 89, 0.13) 0 7px 5px -5px;
@box-shadow-4: 0px 4px 4px 0px rgba(77, 78, 89, 0.06);

@card-height: 566px;

@box-shadow1: 0 3px 10px 0 rgb(77 78 89 / 24%);

@screen-max-w-768: 768px;

.text-overflow(@n) {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  text-overflow: ellipsis;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: @n;
  -webkit-line-clamp: @n;
}
@primary-color: @font-13;
@primary-btn-height: 48px;
@default-btn-height: 46px;

@rounded-full: 9999px;
@primary-border-radius: 24px;

@rounded-0: 2px;
@rounded-1: 4px;
@rounded-2: 6px;
@rounded-3: 8px;
@rounded-4: 10px;
@rounded-5: 12px;

@title-fs-1: 36px;
@title-fs-2: 20px;

@zIndex-0: 10000;
@zIndex-1: 10010;
@zIndex-2: 10020;
@zIndex-3: 10030;
// dark theme
// background
// @bgBaseDefaultDark: #151318;
// @bgBaseDefaultHoverDark: #1F1F21;
// @bgBaseSecondaryDark: #1F1F21;
// @bgBaseSecondaryHoverDark: #414142;
// @bgBaseTertiaryDark: #414142;
// @bgBaseTertiaryHoverDark: #626264;

// @bgDisableDefaultDark: #1F1F21;

// @bgBrandDefaultDark: #B8E1FF;
// @bgBrandHoverDark: #DFF0FF;
// @bgBrandSecondaryDark: #0996EE;
// @bgBrandSecondaryHoverDark: #33B0FD;
// @bgBrandTertiaryDark: #0076CC;
// @bgBrandTertiaryHoverDark: #0996EE;

// @bgNeutralDefaultDark: #B2B2B2;
// @bgNeutralHoverDark: #949494;
// @bgNeutralSecondaryDark: #303030;
// @bgNeutralSecondaryHoverDark: #242424;
// @bgNeutralTertiaryDark: #303030;
// @bgNeutralTertiaryHoverDark: #242424;

// @bgPositiveDefaultDark: #23850E;
// @bgPositiveHoverDark: #1B5C0E;
// @bgPositiveSecondaryDark: #13340D;
// @bgPositiveSecondaryHoverDark: #1B5C0E;
// @bgPositiveTertiaryDark: #0F1F0D;
// @bgPositiveTertiaryHoverDark: #13340D;

// @bgWarningDefaultDark: #CDA90E;
// @bgWarningHoverDark: #FDD10E;
// @bgWarningSecondaryDark: #6C5A0D;
// @bgWarningSecondaryHoverDark: #6C5A0D;
// @bgWarningTertiaryDark: #231F0D;
// @bgWarningTertiaryHoverDark: #3B330D;

// @bgDangerDefaultDark: #B73907;
// @bgDangerHoverDark: #8C2E08;
// @bgDangerSecondaryDark: #36170B;
// @bgDangerSecondaryHoverDark: #61220A;
// @bgDangerTertiaryDark: #20110C;
// @bgDangerTertiaryHoverDark: #36170B;

// // icon
// @iconBaseDefaultDark: #FFFFFF;
// @iconBaseSecondaryDark: #FFFFFFB2;
// @iconBaseTertiaryDark: #FFFFFF66;

// @iconDisableDefaultDark: #626264;

// @iconBrandDefaultDark: #68C3FF;
// @iconBrandSecondaryDark: #B8E1FF;
// @iconBrandTertiaryDark: #33B0FD;
// @iconBrandOnBrandDark: #0A4370;
// @iconBrandOnBrandSecondaryDark: #DFF0FF;
// @iconBrandOnBrandTertiaryDark: #DFF0FF;

// @iconNeutralDefaultDark: #E3E3E3;
// @iconNeutralSecondaryDark: #CDCDCD;
// @iconNeutralTertiaryDark: #B2B2B2;
// @iconNeutralOnNeutralDark: #242424;
// @iconNeutralOnNeutralSecondaryDark: #F3F3F3;
// @iconNeutralOnNeutralTertiaryDark: #F3F3F3;

// @iconPositiveDefaultDark: #99EB87;
// @iconPositiveSecondaryDark: #70E257;
// @iconPositiveTertiaryDark: #33D60F;
// @iconPositiveOnPositiveDark: #EBFBE7;
// @iconPositiveOnPositiveSecondaryDark: #99EB87;
// @iconPositiveOnPositiveTertiaryDark: #33D60F;

// @iconWarningDefaultDark: #FFFBC2;
// @iconWarningSecondaryDark: #FFF388;
// @iconWarningTertiaryDark: #FEDF56;
// @iconWarningOnWarningDark: #3B330D;
// @iconWarningOnWarningSecondaryDark: #FEDF56;
// @iconWarningOnWarningTertiaryDark: #FDD10E;

// @iconDangerDefaultDark: #F1A282;
// @iconDangerSecondaryDark: #EB7D50;
// @iconDangerTertiaryDark: #E24505;
// @iconDangerOnDangerDark: #FCECE6;
// @iconDangerOnDangerSecondaryDark: #EB7D50;
// @iconDangerOnDangerTertiaryDark: #E24505;

// // text
// @textBaseDefaultDark: #FFFFFF;
// @textBaseSecondaryDark: #FFFFFFB2;
// @textBaseTertiaryDark: #FFFFFF66;

// @textDisableDefaultDark: #626264;
// @textDisabledOnDisabledDark: #848485;

// @textBrandDefaultDark: #68C3FF;
// @textBrandSecondaryDark: #B8E1FF;
// @textBrandTertiaryDark: #33B0FD;
// @textBrandOnBrandDark: #0A4370;
// @textBrandOnBrandSecondaryDark: #DFF0FF;
// @textBrandOnBrandTertiaryDark: #DFF0FF;

// @textNeutralDefaultDark: #E3E3E3;
// @textNeutralSecondaryDark: #CDCDCD;
// @textNeutralTertiaryDark: #B2B2B2;
// @textNeutralOnNeutralDark: #242424;
// @textNeutralOnNeutralSecondaryDark: #F3F3F3;
// @textNeutralOnNeutralTertiaryDark: #F3F3F3;

// @textDangerDefaultDark: #E24505;
// @textDangerSecondaryDark: #EB7D50;
// @textDangerTertiaryDark: #B73907;
// @textDangerOnDangerDark: #FCECE6;
// @textDangerOnDangerSecondaryDark: #F6C7B4;
// @textDangerOnDangerTertiaryDark: #F1A282;

// @textWarningDefaultDark: #FEDF56;
// @textWarningSecondaryDark: #FFF388;
// @textWarningTertiaryDark: #FDD10E;
// @textWarningOnWarningDark: #3B330D;
// @textWarningOnWarningSecondaryDark: #FEDF56;
// @textWarningOnWarningTertiaryDark: #FDD10E;

// @textPositiveDefaultDark: #33D60F;
// @textPositiveSecondaryDark: #70E257;
// @textPositiveTertiaryDark: #2BAD0F;
// @textPositiveOnPositiveDark: #EBFBE7;
// @textPositiveOnPositiveSecondaryDark: #C2F3B7;
// @textPositiveOnPositiveTertiaryDark: #99EB87;

// // border
// @borderBaseDefaultDark: #414142;
// @borderBaseSecondaryDark: #626264;
// @borderBaseTertiaryDark: #848485;

// @borderDisableDefaultDark: #414142;

// @borderBrandDefaultDark: #DFF0FF;
// @borderBrandSecondaryDark: #68C3FF;
// @borderBrandTertiaryDark: #33B0FD;

// @borderNeutralDefaultDark: #E3E3E3;
// @borderNeutralSecondaryDark: #5A5A5A;
// @borderNeutralTertiaryDark: #434343;

// @borderPositiveDefaultDark: #2BAD0F;
// @borderPositiveSecondaryDark: #23850E;
// @borderPositiveTertiaryDark: #1B5C0E;

// @borderWarningDefaultDark: #FEDF56;
// @borderWarningSecondaryDark: #9C820E;
// @borderWarningTertiaryDark: #6C5A0D;

// @borderDangerDefaultDark: #EB7D50;
// @borderDangerSecondaryDark: #8C2E08;
// @borderDangerTertiaryDark: #61220A;




// // light theme 
// //background
// @bgBaseDefaultLight: #151318;
// @bgBaseDefaultHoverLight: #1F1F21;
// @bgBaseSecondaryLight: #1F1F21;
// @bgBaseSecondaryHoverLight: #414142;
// @bgBaseTertiaryLight: #414142;
// @bgBaseTertiaryHoverLight: #626264;

// @bgDisableDefaultLight: #1F1F21;

// @bgBrandDefaultLight: #B8E1FF;
// @bgBrandHoverLight: #DFF0FF;
// @bgBrandSecondaryLight: #0996EE;
// @bgBrandSecondaryHoverLight: #33B0FD;
// @bgBrandTertiaryLight: #0076CC;
// @bgBrandTertiaryHoverLight: #0996EE;

// @bgNeutralDefaultLight: #B2B2B2;
// @bgNeutralHoverLight: #949494;
// @bgNeutralSecondaryLight: #303030;
// @bgNeutralSecondaryHoverLight: #242424;
// @bgNeutralTertiaryLight: #303030;
// @bgNeutralTertiaryHoverLight: #242424;

// @bgPositiveDefaultLight: #23850E;
// @bgPositiveHoverLight: #1B5C0E;
// @bgPositiveSecondaryLight: #13340D;
// @bgPositiveSecondaryHoverLight: #1B5C0E;
// @bgPositiveTertiaryLight: #0F1F0D;
// @bgPositiveTertiaryHoverLight: #13340D;

// @bgWarningDefaultLight: #CDA90E;
// @bgWarningHoverLight: #FDD10E;
// @bgWarningSecondaryLight: #6C5A0D;
// @bgWarningSecondaryHoverLight: #6C5A0D;
// @bgWarningTertiaryLight: #231F0D;
// @bgWarningTertiaryHoverLight: #3B330D;

// @bgDangerDefaultLight: #B73907;
// @bgDangerHoverLight: #8C2E08;
// @bgDangerSecondaryLight: #36170B;
// @bgDangerSecondaryHoverLight: #61220A;
// @bgDangerTertiaryLight: #20110C;
// @bgDangerTertiaryHoverLight: #36170B;

// // icon
// @iconBaseDefaultLight: #FFFFFF;
// @iconBaseSecondaryLight: #FFFFFFB2;
// @iconBaseTertiaryLight: #FFFFFF66;

// @iconDisableDefaultLight: #626264;

// @iconBrandDefaultLight: #68C3FF;
// @iconBrandSecondaryLight: #B8E1FF;
// @iconBrandTertiaryLight: #33B0FD;
// @iconBrandOnBrandLight: #0A4370;
// @iconBrandOnBrandSecondaryLight: #DFF0FF;
// @iconBrandOnBrandTertiaryLight: #DFF0FF;

// @iconNeutralDefaultLight: #E3E3E3;
// @iconNeutralSecondaryLight: #CDCDCD;
// @iconNeutralTertiaryLight: #B2B2B2;
// @iconNeutralOnNeutralLight: #242424;
// @iconNeutralOnNeutralSecondaryLight: #F3F3F3;
// @iconNeutralOnNeutralTertiaryLight: #F3F3F3;

// @iconPositiveDefaultLight: #99EB87;
// @iconPositiveSecondaryLight: #70E257;
// @iconPositiveTertiaryLight: #33D60F;
// @iconPositiveOnPositiveLight: #EBFBE7;
// @iconPositiveOnPositiveSecondaryLight: #99EB87;
// @iconPositiveOnPositiveTertiaryLight: #33D60F;

// @iconWarningDefaultLight: #FFFBC2;
// @iconWarningSecondaryLight: #FFF388;
// @iconWarningTertiaryLight: #FEDF56;
// @iconWarningOnWarningLight: #3B330D;
// @iconWarningOnWarningSecondaryLight: #FEDF56;
// @iconWarningOnWarningTertiaryLight: #FDD10E;

// @iconDangerDefaultLight: #F1A282;
// @iconDangerSecondaryLight: #EB7D50;
// @iconDangerTertiaryLight: #E24505;
// @iconDangerOnDangerLight: #FCECE6;
// @iconDangerOnDangerSecondaryLight: #EB7D50;
// @iconDangerOnDangerTertiaryLight: #E24505;

// // text
// @textBaseDefaultLight: #FFFFFF;
// @textBaseSecondaryLight: #FFFFFFB2;
// @textBaseTertiaryLight: #FFFFFF66;

// @textDisableDefaultLight: #626264;
// @textDisabledOnDisabledLight: #848485;

// @textBrandDefaultLight: #68C3FF;
// @textBrandSecondaryLight: #B8E1FF;
// @textBrandTertiaryLight: #33B0FD;
// @textBrandOnBrandLight: #0A4370;
// @textBrandOnBrandSecondaryLight: #DFF0FF;
// @textBrandOnBrandTertiaryLight: #DFF0FF;

// @textNeutralDefaultLight: #E3E3E3;
// @textNeutralSecondaryLight: #CDCDCD;
// @textNeutralTertiaryLight: #B2B2B2;
// @textNeutralOnNeutralLight: #242424;
// @textNeutralOnNeutralSecondaryLight: #F3F3F3;
// @textNeutralOnNeutralTertiaryLight: #F3F3F3;

// @textDangerDefaultLight: #E24505;
// @textDangerSecondaryLight: #EB7D50;
// @textDangerTertiaryLight: #B73907;
// @textDangerOnDangerLight: #FCECE6;
// @textDangerOnDangerSecondaryLight: #F6C7B4;
// @textDangerOnDangerTertiaryLight: #F1A282;

// @textWarningDefaultLight: #FEDF56;
// @textWarningSecondaryLight: #FFF388;
// @textWarningTertiaryLight: #FDD10E;
// @textWarningOnWarningLight: #3B330D;
// @textWarningOnWarningSecondaryLight: #FEDF56;
// @textWarningOnWarningTertiaryLight: #FDD10E;

// @textPositiveDefaultLight: #33D60F;
// @textPositiveSecondaryLight: #70E257;
// @textPositiveTertiaryLight: #2BAD0F;
// @textPositiveOnPositiveLight: #EBFBE7;
// @textPositiveOnPositiveSecondaryLight: #C2F3B7;
// @textPositiveOnPositiveTertiaryLight: #99EB87;

// // border
// @borderBaseDefaultLight: #414142;
// @borderBaseSecondaryLight: #626264;
// @borderBaseTertiaryLight: #848485;

// @borderDisableDefaultLight: #414142;

// @borderBrandDefaultLight: #DFF0FF;
// @borderBrandSecondaryLight: #68C3FF;
// @borderBrandTertiaryLight: #33B0FD;

// @borderNeutralDefaultLight: #E3E3E3;
// @borderNeutralSecondaryLight: #5A5A5A;
// @borderNeutralTertiaryLight: #434343;

// @borderPositiveDefaultLight: #2BAD0F;
// @borderPositiveSecondaryLight: #23850E;
// @borderPositiveTertiaryLight: #1B5C0E;

// @borderWarningDefaultLight: #FEDF56;
// @borderWarningSecondaryLight: #9C820E;
// @borderWarningTertiaryLight: #6C5A0D;

// @borderDangerDefaultLight: #EB7D50;
// @borderDangerSecondaryLight: #8C2E08;
// @borderDangerTertiaryLight: #61220A;