.confirm-return-modal {
  .portkey-ant-modal-body {
    width: 320px;
    height: auto;
  }
}
.step-page-wrapper {
  .portkey-card-height {
    height: auto;
  }

  .portkey-ui-common-base-modal {
    .portkey-ant-modal {
      height: auto;
      min-height: auto;
    }
  }
}
