.terms-of-service-item {
  font-weight: 400;
  user-select: none;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--sds-color-text-default-secondary);
  margin-top: 32px;
  padding-bottom: 16px;
  .terms-text {
    color: var(--sds-color-text-brand-default);
    cursor: pointer;
  }
}
