.terms-of-service-item {
  user-select: none;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: var(--portkey-ui-font-7);
;
  .terms-text {
    margin-left: 8px;
    color: var(--portkey-ui-font-4);
    cursor: pointer;
  }
}
