.portkey-ui-common-base-modal .portkey-ui-signup-confirm-modal.portkey-ant-modal {
  height: auto;
  min-height: auto;
}

.portkey-ui-signup-confirm-modal {
  .warning-modal-wrapper {
    padding: 14px 16px;
  }
  .modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: left;
    letter-spacing: -0.4px;
    font-family: var(--portkey-font-bricolage-regular);
    color: var(--portkey-ui-text-primary);
  }
  .modal-content-v2 {
    padding: 12px 0 24px 0;
  }
  .btn-warning-wrapper {
    gap: 16px;
  }
}
