.portkey-ui-wrapper .portkey-ant-form .confirm-password {
  .portkey-ant-form-item-explain-validating,
  .portkey-ant-form-item-explain-success {
    font-size: 12px;
  }

  .portkey-ant-form-item-control-input,
  .portkey-ant-col {
    min-height: auto;
  }

  .portkey-ant-form-item {
    display: flex;
  }
  > .portkey-ant-form-item-has-error {
    padding-bottom: 0;
  }
  .label-tip {
    color: var(--portkey-ui-text-tip);
  }
  .portkey-ant-input {
    text-indent: 2px;
    margin-left: -2px;
  }
}
