.portkey-ui-payment-security-wrapper {
  height: 100%;
  .payment-security-nav {
    position: relative;
    align-items: center;
    display: flex;
    background-color: var(--sds-color-background-default-default);
    .left-icon {
      position: absolute;
      left: 16px;
    }

    .payment-security-header {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      height: 56px;

      .symbol {
        font-weight: 600;
        font-size: 16px;
        line-height: 22.4px;
        text-align: center;
        color: var(--sds-color-text-default-default);
      }
    }
  }

  .no-data-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
}
