.portkey-ui-menu-item {
  display: flex;
  align-items: center;
  padding: 18px 16px;
  background-color: var(--sds-color-background-default-default);
  border-bottom: 1px solid var(--portkey-ui-border-2);
  cursor: pointer;

  .portkey-ui-icon-area {
    margin-right: 16px;
  }

  .portkey-ui-menu-item-title {
    flex: 1;
    font-size: 18px;
    color: var(--portkey-ui-font-6);
  }
  .portkey-ui-enter-btn {
    transform: rotateZ(180deg);
    flex-shrink: 0;
  }
}
