.social-login-title {
    padding-top: 16px;
    padding-bottom: 40px;
    text-align: center;
    line-height: 28px;
    color: var(--sds-color-text-default-default);
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.64px;
    font-weight: 700;
    font-family: var(--portkey-font-bricolage-bold);
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      width: 100%;
      text-align: center;
      svg {
        path {
          fill: var(--sds-color-icon-brand-default);
        }
      }
    }
    .backleft-icon {
      cursor: pointer;
      .arrow-path {
        fill: var(--portkey-ui-icon-fill);
      }
    }
    .backleft-icon,
    .empty {
      width: 24px;
      height: 24px;
      display: flex;
    }
}