.input-info-wrapper {
  .portkey-ant-tabs-top > .portkey-ant-tabs-nav {
    margin-bottom: 8px;
  }
  .portkey-ant-tabs-top > .portkey-ant-tabs-nav::before {
    border-bottom: none;
  }
  .portkey-ant-tabs-ink-bar {
    background: var(--portkey-ui-primary-bg);
  }

  // rewrite style
  .back-header {
    padding: 16px 0 16px 0;
  }
  .email-sign-wrapper {
    .login-primary-btn {
      margin-top: 40px;
    }
  }
}

.email-login {
  .email-login-title {
    font-size: 20px;
    font-weight: 700; // TODO
    color: var(--sds-color-text-default-default);
    font-family: "Bricolage Grotesque";
    line-height: 120%; /* 24px */
    letter-spacing: -0.4px;
  }
  .email-login-email-text {
    margin-top: 23px;
    height: 1px;
    //margin-bottom: 8px;
    font-size: 16px;
    color: var(--sds-color-text-default-default);
  }
  .email-login-footer {
    text-align: center;
    font-size: 16px;
    color: var(--sds-color-text-default-secondary);
    margin-top: 32px;
    padding-bottom: 16px;
    line-height: 100%;
    .email-login-footer-action {
      cursor: pointer;
      color: var(--sds-color-text-brand-default);
      font-family: var(--portkey-font-schibsted-bold);
      font-weight: 600;
    }
  }
}
