.portkey-connect-wallet-modal {
  iframe {
    height: 100%;
    width: 100%;
    margin: auto;
    border: none;
  }
}
.portkey-connect-wallet-modal .portkey-connect-modal-body {
  height: 700px !important;
}
