@import '../../assets/theme/color.less';
.portkey-waring-download {
  .ant-message-notice-content {
    background: @bg-11;
    padding: 12px 16px;
    box-shadow: 0px 3px 10px rgba(77, 78, 89, 0.12);
    border-radius: 6px;
  }
  .ant-message-warning {
    display: flex;
    .waring-icon {
      margin-right: 8px;
      margin-top: 2px;
    }
    & > span {
      font-size: 14px;
      line-height: 20px;
      color: @font-11;
      text-align: left;
    }
  }
}
