@import '../../assets/theme/constants.less';

.guardian-list-wrapper {
  height: 100%;
  padding: 16px;
  color: var(--sds-color-text-default-default);
  background-color: var(--sds-color-background-default-default);
  .guardian-list-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    .guardian-list-title {
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      color: var(--sds-color-text-default-default);
    }
    .guardian-list-description {
      margin-top: 16px;
      font-size: 14px;
      line-height: 20px;
      color: var(--sds-color-text-default-secondary);
    }
    .guardian-list-progress {
      margin-top: 24px;
      font-size: 16px;
      line-height: 22px;
      .selected-icon {
        margin-left: 8px;
        svg {
          path {
            fill: #99EB87;
          }
        }
      }
      .portkey-ui-progress-line {
        margin-top: 8px;
      }
    }
    .verifier-item {
      position: relative;
      padding: 16px 0;
      &.verifier-item-disabled {
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: var(--portkey-ui-default-bg);
          opacity: 0.3;
          cursor: not-allowed;
        }
      }
      .account-text {
        margin-left: 8px;
        font-size: 16px;
        line-height: 22px;
        color: var(--sds-color-text-default-default);
        flex: 1;
        width: 0;
        .detail {
          font-size: 14px;
          line-height: 20px;
          color: var(--sds-color-text-default-secondary);
        }
      }
      .portkey-ui-common-button {
        width: 84px;
        height: 40px;
        border-radius: 20px;
      }
      .verified-text {
        font-size: 16px;
        line-height: 16px;
        text-align: right;
        color: var(--sds-color-text-default-tertiary);
      }
    }
    .account-text-one-row {
      word-wrap: break-word;
      .text-overflow(2);
    }
    .account-text-two-row {
      .name,
      .detail {
        word-wrap: break-word;
        .text-overflow(1);
      }
    }
    .guardian-list-list {
      flex: 1;
      .login-guardians-text,
      .other-guardians-text {
        padding: 16px 0 8px 0;
        font-size: 14px;
        line-height: 20px;
        color: var(--sds-color-text-default-secondary);
      }
    }
    .confirm-loading {
      margin-top: 96px;
    }
  }
  .guardian-expired-content {
    height: 100%;
    .guardian-list-title {
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      color: var(--sds-color-text-default-default);
    }
    .guardian-list-description {
      margin-top: 16px;
      font-size: 14px;
      line-height: 20px;
      color: var(--sds-color-text-default-secondary);
    }
    .warning-icon {
      width: 32px;
      height: 32px;
      margin-bottom: 16px;
    }
    .expire-footer {
      gap: 16px;
    }
  }
}
