.portkey-ui-collection-detail{
  height: 100%;
  overflow-y: auto;
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img {
      margin-top: 8px;
      width: 48px;
      height: 48px;
      flex-shrink: 0;
      border-radius: 8px;
      img,
      .img-text {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
      .img-text {
        background-color: var(--portkey-ui-bg-14);
        font-size: 12px;
        line-height: 14px;
        color: var(--portkey-ui-text-tip);
      }
    }
    .collection-name {
      color: var(--sds-color-text-default-default);
      text-align: center;
      
      /* Heading */
      font-family: 'Bricolage Grotesque';
      font-size: 20px;
      font-style: normal;
      // font-weight: 700;
      line-height: 120%; /* 24px */
      margin-top: 16px;
    }
    .collection-value {
      color: var(--sds-color-text-default-secondary);
      text-align: center;
      
      /* Single Line/Body Small */
      font-family: 'Schibsted Grotesk';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 14px */
      margin-top: 4px;
    }
  }
  .grid-container {
    display: grid;
    gap: 16px;
    padding: 16px;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-item {
    display: block;
  }
  @media (max-width: 600px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 601px ) and (max-width: 896px){
  
    .grid-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (min-width: 897px) {
    .grid-container {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}