.portkey-ui-base-number-keyboard-wrapper {
  padding: 14px;
  background-color: var(--portkey-ui-keyboard-bg);
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  .portkey-ui-base-number-keyboard-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    .portkey-ui-base-number-keyboard-key {
      border-radius: 6px;
      padding: 8px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-style: normal;
      line-height: normal;
      font-weight: 500;
      color: var(--portkey-ui-text-primary);
    }

    .portkey-ui-base-number-keyboard-key {
      &.portkey-ui-base-number-keyboard-key-sign,
      &.portkey-ui-base-number-keyboard-key-number {
        background-color: var(--portkey-ui-keyboard-btn-bg);
      }
    }
  }
  .portkey-ui-custom-svg.backspace-icon {
    color: var(--portkey-ui-font-7);
    width: 24px;
    height: 24px;
  }
}
