.portkey-ui-nft-checkout-modal {
  position: relative;
  border-radius: 16px;
  background: var(--portkey-ui-default-bg);
  width: 550px;
  max-height: calc(100vh - 64px);
  max-width: calc(100% - 32px);

  .portkey-ui-custom-svg.close2-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    cursor: pointer;
  }
}
